/**************************
 * CSS GENERICO
 **************************/

html {
  height:100%;
  font-family: arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  height: 100vh;
  width: 100%;
  background: #ffffff;
}

/**************************
 * CSS de Home
 **************************/

.home {
  height: 100vh;
  width: 100%;
  background: #ffffff;
  background-size: auto auto;
}

.logo {
  width: 200px;
  height: 200px;
}

.box {
  text-align: center;
  background: #f7f7f7;
  opacity: 0.9;
  border-radius: 5px;
}

/**************************
 * CSS de Feed
 **************************/
.more-message-button {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  height: 35px;
}
.feed-container {
  max-width: 650px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.login-container {
  max-width: 600px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.hidden {
  opacity: 0;
}

.error {
  color: #ff0000;
}

.image {
  margin-top: 30%;
  width: 60px;
  height: 60px;
}

.row.comment {
  margin-left: 2%;
}

#new-message-send-button {
  margin-top: 5%;
}