/**************************
 * CSS GENERICO
 **************************/

html {
  height:100%;
  font-family: arial, sans-serif;
}

  body {
    height: 100vh;
    width: 100%;
    background: #ffffff;
  }

    a {
      color: #00B7FF;
    }

/**************************
 * CSS de Home
 **************************/

.home {
  height: 100vh;
  width: 100%;
  background: #ffffff;
  background-size: auto auto;
  text-align: center;
}

.login-container {
  max-width: 400px;
  margin-left: auto !important;
  margin-right: auto !important;
}

  .logo {
    width: 200px;
    height: 200px;
  }

  .box {
    background: #f7f7f7;
    opacity: 0.9;
    border-radius: 5px;
  }

    .hidden {
      opacity: 0;
    }

    .error {
      color: #ff0000;
    }

/**************************
 * CSS de Feed
 **************************/

.feed-container {
  max-width: 650px;
  margin-left: auto !important;
  margin-right: auto !important;
}

  .avatar-comment {
    margin-left: 45%;
    margin-top: 30%;
    width: 60px;
    height: 60px;
  }

  #new-message-send-button {
    margin-top: 5%;
  }

  .comment {
    margin-left: 2%;
  }
    .content {
      text-align: left;
    }
      .content.col.s7.input-field {
        padding-left: 20px;
      }

      .new-message {
        padding-left: 10px;
      }

      .author {
        font-weight: bold;
      }

      .avatar {
        margin: 2% 0 0 30%;
        width: 60px;
        height: 60px;
      }

      .verified {
        width: 10px;
        height: 10px;
      }
      .date {
        color: #888888;
      }

      .play{
        max-width: 450px;
        margin: -260px 0 50px 0;
        height: auto;
        position: relative;
        z-index: 10;
      }

      .photo, .video {
        margin-top: 2%;
        max-width: 480px;
      }

      .more-message-button {
        margin-left: 20%;
        text-align: center;
        height: 35px;
      }


/**************************
 * CSS de Erro
 **************************/


  .not-found {
    text-align: center;
  }

  .not-found h1 {
    color: blue;
    font-size: 300px;
  }