extends ../layout.jade

block head
   script(src='/socket.io/socket.io.js')
   script(src='/javascripts/jquery.timeago.js')
   script(src='/javascripts/feed.js')

block content
   .row
   .feed-container.container.box.z-depth-1
      .row
      .comments
         .row.comment
            .avatar.col.s2
               img.avatar-comment.circle(src=user.avatar ? user.avatar : 'images/default_user.jpg')
            .content.col.s7.input-field
               textarea#new-message-text.materialize-textarea(name='newMmessage', length='140')
               label.new-message.blue-text(for='newMessage') Envie sua mensagem!
            div#new-message-send-button.col.s2.waves-effect.waves-light.blue.btn Enviar
         .row
      .divider
      #comments.comments
