extends layout

block content
  .container.not-found
    .row
    .row
    .row
      a
        img.responsive-img(src='images/error.jpg')
      h1 Esta não é a página que você está procurando.
    .divider
    .row
      h3= error.status + ': ' + message