doctype html
html
  head
    meta(charset='utf-8')
    title Feed Globo de Comentários
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content

