doctype html
html
  head
    title Feed Globo de Comentários
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript' src='/javascripts/materialize.min.js')
  body
    block content
