doctype html
html
  head
    meta(charset='utf-8')
    title Feed Globo de Comentários
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/materialize.min.js')
    block head
      title Default title
  body
    block content
