each comment in comments
    include comment.jade
if hasMorePages
        .col.s3.offset-s4
            div.more-message-button.blue.waves-effect.waves-light.btn(last-id-date=lastId)
                span.text carregar mais
                div.yo.loader(style='display:none;')
