each comment in comments
    include comment.jade
if hasMorePages
    .row
    .row
        .col.s3.offset-s4
            .more-message-button.blue.waves-effect.waves-light.btn(last-id-date=lastId) Mais
                .hexdots-loader(style='display:none;')
    .row
